.container {
    background-color: rgba(245, 245, 245, 0.611);
    box-shadow: 0 0 5px 0 rgb(204, 204, 204);
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    .title {
        font-size: 2rem;
        margin: 1rem;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium';
    }
    :deep(.t-input) {
        border-radius: 1.2rem;
        height: 3rem;
        border-width: 2px;
        background-color: rgba(255, 255, 255, 0.094);
    }
    .signbtn {
        width: 100%;
        margin: 1rem;
        padding: 1.5rem;
        border-radius: 1.2rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    button {
        height: 3rem;
        cursor: pointer;
        background-color: rgb(212, 215, 222);
        border-style: none;
        box-shadow: 0 0 0.3rem 0 rgb(182, 186, 193);
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(78, 78, 78);
        transition: 0.4s;
        &:hover {
            background-color: rgb(201, 206, 215);
        }
    }
}

